

.Closebutton{
    --c:  #229091; /* the color*/
  
    box-shadow: 0 0 0 .1em inset var(--c); 
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: 
      var(--_g) calc(var(--_p,0%) - 100%) 0%,
      var(--_g) calc(200% - var(--_p,0%)) 0%,
      var(--_g) calc(var(--_p,0%) - 100%) 100%,
      var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
  }
  button:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
  }
  button:active {
    box-shadow: 0 0 9e9q inset #0009; 
    background-color: var(--c);
    color: #fff;
  }
 button {
    margin-top: 10px;
    font-family: system-ui, sans-serif;
    font-size: 1.0rem;
    cursor: pointer;
    padding: .01em .2em;
    font-weight: bold;  
    border: none;
  }

.div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  color: #10182f;
}

.card {
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 15px;
    background-color: #ececece0;
    border-radius: 10px;
    box-shadow: 0 2px 40px rgb(83, 81, 153);
    overflow: hidden;
    width: 300px;
    
  }

.text{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 15px;
    text-transform: capitalize;
    text-indent: 30px;
    text-align: justify;
}

