.nav{  
    padding:0;   
    font-family:system-ui, sans-serif; 
    font-size:15px;  
    text-transform:uppercase;
    text-align: center;
}


.link{  
    display:block;  
    padding:10px;  
    color:white;  
    text-decoration:none;
}

.div{  
    display:inline-block;
}